<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690778887632-vinpsb3mrtvt0vktbjoosa1afmalomid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690778887632-vinpsb3mrtvt0vktbjoosa1afmalomid</string>
	<key>API_KEY</key>
	<string>AIzaSyBV_Xk_fjD4cKxOMu-ZjA_Ah9j6fFCdZco</string>
	<key>GCM_SENDER_ID</key>
	<string>690778887632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aws.Finity</string>
	<key>PROJECT_ID</key>
	<string>finity-ef007</string>
	<key>STORAGE_BUCKET</key>
	<string>finity-ef007.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:690778887632:ios:a872df75d0ed21b0e215d5</string>
</dict>
</plist>
